<div class="all">

    <section class="pokedex">
        <div class="circle1"></div>
        <div class="circle2"></div>
        <div class="circle3"></div>
        <div class="circle4"></div>
        <div class="circle5"></div>
    

       <div class="screen"></div>
       <div class="inside_screen"></div>
         <img src="../../assets/International_Pokémon_logo.svg.png" class="logo">
         <img src="../../assets/Pokeball-PNG-Photos-1.png" class="pokeball">

       <input type="button"  href="" class="button1 buttons" routerLink="/list">
       <input type="button"  href="pokemonlist" class="button2 buttons" routerLink="/my_team">

       <div class="mini_screen">
         <p>Welcome to the pokedex</p>
       </div>

    </section>

    <section class="my_team">
      

    </section>
  </div>